Repository docdyhr/mcp-wordpress, changes with the labels that .github/labeler.yml gives for each.
All labels: security, client, cache, docs, config, ci

fix: resolve CodeQL security warnings
  src/cache/SEOCacheManager.ts
  src/client/api.ts
  src/client/managers/RequestManager.ts
  src/security/AISecurityScanner.ts
  src/security/InputValidator.ts
  src/tools/seo/analyzers/ContentAnalyzer.ts
  src/tools/seo/auditors/SiteAuditor.ts
  src/tools/seo/generators/MetaGenerator.ts
Labels: security, client, cache

fix(security): run npm audit fix for js-yaml vulnerability
  package-lock.json
Labels: config

refactor(security): extract SecurityCIPipeline into modular components
  src/security/SecurityCIPipeline.ts
  src/security/SecurityGateExecutor.ts
  src/security/SecurityReportGenerator.ts
  src/security/SecurityTypes.ts
  src/security/index.ts
Labels: security

chore(ci): consolidate CI/CD workflows from 25 to 10
  .github/workflows/ci-health-check.yml
  .github/workflows/coverage-guard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/manual-docker-republish.yml
  .github/workflows/mcp-evaluations.yml
  .github/workflows/npm-publish.yml
  .github/workflows/performance-gates.yml
  .github/workflows/pipeline-health-check.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/reusable-setup.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-badges.yml
  .github/workflows/security-monitoring.yml
  .github/workflows/update-docker-description.yml
  .github/workflows/update-docs.yml
  .github/workflows/verify-and-fix-publishing.yml
  .github/workflows/verify-release.yml
Labels: config, ci

refactor: modularize api.ts and performance.ts for improved maintainability
  package-lock.json
  package.json
  src/client/api.ts
  src/client/operations/comments.ts
  src/client/operations/index.ts
  src/client/operations/media.ts
  src/client/operations/pages.ts
  src/client/operations/posts.ts
  src/client/operations/site.ts
  src/client/operations/taxonomies.ts
  src/client/operations/users.ts
  src/tools/performance.ts
  src/tools/performance/PerformanceHelpers.ts
  src/tools/performance/PerformanceTools.ts
  src/tools/performance/index.ts
Labels: client, config

feat: add circuit breaker pattern and deprecation documentation
  docs/DEPRECATIONS.md
  src/utils/CircuitBreaker.ts
  src/utils/index.ts
  tests/utils/CircuitBreaker.test.js
Labels: docs

test: add comprehensive tests for operations and performance modules
  tests/client/operations/operations.test.js
  tests/tools/performance/PerformanceHelpers.test.js
Labels: none

docs: update README with v2.12.0 features and test counts
  README.md
Labels: none

fix(tests): resolve flaky tests in env-loading, logger, and timing tests
  tests/client/RequestManager.test.js
  tests/env-loading.test.js
  tests/utils/debug.test.js
  tests/utils/logger.test.js
  tests/utils/streaming.test.js
  vitest.config.ts
Labels: none

fix(tests): align getAuthStatus tests with actual AuthStatus type
  tests/managers/authentication.test.js
Labels: none

chore: project cleanup and security improvements
  docs/BRANCH_PROTECTION.md
  package-lock.json
  package.json
  tests/security/SecurityReviewer.test.js
  tests/server/ToolRegistry.test.js
  tests/utils/streaming.test.js
  vitest.config.ts
Labels: docs, config

chore: trigger release workflow to test updated NPM token
  README.md
Labels: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  884476dbcbaf0ae9bcca587e6b3c485a41190d0a
Labels: none

fix(dxt): update ajv schema paths from lib to dist directory
  scripts/build-dxt-clean.cjs
Labels: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  85bce7a19f020442a6f18eb76a9aa825fc297cbc
Labels: none

feat(dxt): add version checking tool and update documentation
  README.md
  docs/DXT_UPDATE_GUIDE.md
  dxt/manifest.json
  src/tools/index.ts
  src/tools/system.ts
  src/tools/version.ts
Labels: docs

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  6bcd3225cd558a1d71d543146b023cc47ab1a75a
Labels: none

fix(dxt): update manifest to v3.0.1 and fix version.ts ESLint errors
  dxt/manifest.json
  src/tools/version.ts
Labels: none

chore(dxt): sync manifest version to 3.1.0 [skip ci]
  dxt/manifest.json
Labels: none

fix: resolve security vulnerabilities and re-enable CI tests
  package-lock.json
  scripts/cleanup-stale-security-configs.sh
  tests/tools/seo/BulkOperations.test.js
  vitest.config.ts
Labels: config

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  80326cc73e6d59870031b2ad43397257882a3937
Labels: none

fix(security): update tar override to 7.5.7 and pact-node to 10.18.0
  package-lock.json
  package.json
Labels: config

chore(release): 3.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  5fb653285a58830d0979b9ee56b4f29623478cf5
Labels: none

fix: resolve security vulnerabilities, update CI/CD actions, and fix flaky test
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  tests/utils/debug.test.js
Labels: config, ci

fix: resolve security vulnerabilities, update CI/CD actions, and fix flaky test (#163)
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  tests/utils/debug.test.js
Labels: config, ci

chore(release): 3.1.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  c3229317c91b7a77af7e8994b99b0a1e36acbec9
Labels: none

fix(security): resolve all npm audit vulnerabilities and update dependencies
  .github/workflows/main-ci.yml
  .github/workflows/release.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: config, ci

.github/labeler.yml:

# Automatically apply labels based on file path patterns
security:
  - "src/security/**"
client:
  - "src/client/**"
cache:
  - "src/cache/**"
docs:
  - "docs/**"
config:
  - "*.json"
  - ".github/**"
ci:
  - ".github/workflows/**"
