Repository docdyhr/mcp-wordpress, changes with the labels that .github/labeler.yml gives for each.
All labels: security, client, cache, docs, config, ci

fix: resolve failing CI/CD tests in posts and quality checks
  src/tools/posts/PostHandlers.ts
  src/tools/posts/index.ts
  src/utils/validation/wordpress.ts
  tests/tools/posts.test.js
Labels: none

chore(release): 2.11.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  c6a7291c7ed361fe6f5e0d7b15c001183562991e
Labels: none

chore(deps): upgrade to Vitest v4, Zod v4, and semantic-release v25
  package-lock.json
  package.json
  src/cache/HttpCacheWrapper.ts
  src/client/CachedWordPressClient.ts
  src/client/api.ts
  src/client/managers/AuthenticationManager.ts
  src/utils/version.ts
  tests/client/AuthenticationManager.test.js
  vitest.ci.config.ts
  vitest.config.ts
  vitest.memory-safe.config.ts
Labels: client, cache, config

fix(ci): resolve CI/CD and quality assurance pipeline failures
  .audit-ci.json
  .github/workflows/main-ci.yml
  .github/workflows/quality-assurance.yml
Labels: config, ci

chore(release): 2.11.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  fb0c4de02f935fbdc5fbdb3edcfe75fc9184466f
Labels: none

fix(ci): resolve memory crashes in test runner
  .github/workflows/main-ci.yml
Labels: config, ci

chore(release): 2.11.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  1c076c85cf713988a5d2ec8562b9fa18aed75f19
Labels: none

fix(ci): disable coverage in CI pipelines to prevent memory crashes
  .github/workflows/main-ci.yml
  .github/workflows/quality-assurance.yml
Labels: config, ci

chore(release): 2.11.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  e902516d7f57a3a9e706881b6c623b7cc5695ba2
Labels: none

fix(ci): resolve memory crashes with vitest pool and concurrency settings
  vitest.config.ts
Labels: none

chore(release): 2.11.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  393524c9abc73e2b4c02b1d70106d7dbd8d80342
Labels: none

fix(tests): resolve mock constructor errors in performance.test.js
  tests/tools/performance.test.js
Labels: none

chore(release): 2.11.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  4bacec8ffa2c5ce84a394378e0b76cb55b8f73f2
Labels: none

fix(tests): resolve all mock constructor errors in test suite
  tests/docs/DocumentationGenerator.test.js
Labels: none

chore(release): 2.11.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  abcccedc880be2007304e4e45acd315701da7424
Labels: none

fix(tests): skip DocumentationGenerator tests - API mismatch
  tests/docs/DocumentationGenerator.test.js
Labels: none

chore(release): 2.11.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  cc4c44125682f22474b0c6135aa132bc1c851833
Labels: none

fix(ci): add missing rollback-deployment.sh script for Performance Gates
  scripts/rollback-deployment.sh
Labels: none

chore(release): 2.11.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  5f0f77a8ec88af2d8bda9d32702f6feaf9e1eeee
Labels: none

fix(tests): resolve test failures for 100% pass rate
  tests/client/RequestManager.test.js
  tests/client/api-upload-timeout.test.js
  tests/utils/debug.test.js
Labels: none

fix(tests): complete debug.test.js fixes for 100% pass rate
  tests/utils/debug.test.js
Labels: none

refactor(tests): remove DocumentationGenerator test file with API mismatch
  tests/docs/DocumentationGenerator.test.js
Labels: none

chore(release): 2.11.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  ed162b3595a93197f387d4a2231a6da0a71de9fa
Labels: none

feat: optimize cache and add Config tests
  .github/workflows/main-ci.yml
  src/cache/CacheManager.ts
  tests/config/Config.test.js
Labels: cache, config, ci

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  ede520a142ced50277aa084392de8bba4219c514
Labels: none

docs: add sprint implementation documentation
  EXCLUDED_TESTS.md
  IMPLEMENTATION_COMPLETE.md
  SPRINT_SUMMARY.md
Labels: none

fix(tests): update cache key regex to match base36 hash format
  tests/cache/CacheManager.test.js
Labels: none

fix(security): update MCP SDK and body-parser to fix vulnerabilities
  package-lock.json
Labels: config

docs: remove Smithery references (service no longer available)
  README.md
Labels: none

.github/labeler.yml:

# Automatically apply labels based on file path patterns
security:
  - "src/security/**"
client:
  - "src/client/**"
cache:
  - "src/cache/**"
docs:
  - "docs/**"
config:
  - "*.json"
  - ".github/**"
ci:
  - ".github/workflows/**"
