Repository docdyhr/mcp-wordpress, changes with the labels that .github/labeler.yml gives for each.
All labels: security, client, cache, docs, config, ci

.github/labeler.yml:

# Automatically apply labels based on file path patterns
security:
  - "src/security/**"
client:
  - "src/client/**"
cache:
  - "src/cache/**"
docs:
  - "docs/**"
config:
  - "*.json"
  - ".github/**"
ci:
  - ".github/workflows/**"

chore(release): 2.10.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  c9ce1503963d238cc8cfde9f6c93c23ec50cfaf1
Labels: none

fix(ci): Fix CI pipeline failures and optimize test execution
  .github/workflows/ci.yml
  .github/workflows/docker-modern.yml
  .github/workflows/docker-publish-fix.yml
  .github/workflows/docker-publish.yml
  SECURITY.md
  package.json
Labels: config, ci

docs: Add comprehensive fixes documentation
  FIXES_APPLIED.md
Labels: none

chore(release): 2.10.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  a57b1f133134875f66f12b11893de947a3b9bcf0
Labels: none

fix(critical): Fix Zod version mismatch and restore multi-site functionality
  .vscode/settings.json
  CORRECTED-FINAL-REPORT.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  DXT-MULTISITE-GUIDE.md
  FINAL-FIX-REPORT.md
  LOG-ANALYSIS.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
  ci-pipeline-health-report.md
  dxt/manifest.json
  package-lock.json
  package.json
  scripts/test-vscode-setup.sh
  scripts/test-vscode-setup.ts
  src/dxt-entry.ts
Labels: config

chore(release): 2.10.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  8b7737371a36f1f89c935ebb70aff8f11c98c7f5
Labels: none

fix(critical): Fix user role and capabilities retrieval by using context=edit
  src/client/CachedWordPressClient.ts
  src/client/api.ts
Labels: client

fix(tools): Add inputSchema support to ToolRegistry for wp_create_post
  src/server/ToolRegistry.ts
Labels: none

chore(release): 2.10.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  0ed70846a84797feebc9b58515c26f6b03f84522
Labels: none

fix(ci): Replace batch test execution with proper vitest sharding to prevent V8 memory crashes
  .github/workflows/ci-optimized.yml
Labels: config, ci

chore(release): 2.10.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  482d43317855839b666e6ed1cf82afbd0afbb697
Labels: none

fix(ci): Resolve remaining 8 CI/CD pipeline failures
  .github/workflows/quality-assurance.yml
  package.json
  tests/tools/posts/PostTools.test.js
Labels: config, ci

chore(release): 2.10.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  873c7da3ab3375a4eeb690c184d5a7c7ac912a26
Labels: none

fix(ci): Add missing security:review and security:monitor scripts
  package.json
Labels: config

feat(tools): Add include_content parameter to wp_get_page and wp_get_post
  src/tools/pages.ts
  src/tools/posts/PostHandlers.ts
  src/tools/posts/PostToolDefinitions.ts
Labels: none

fix(ci): Resolve CI/CD pipeline failures in all workflows
  .github/workflows/ci.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/security-badges.yml
  package.json
Labels: config, ci

refactor(tests): Remove all skipped tests and update documentation
  CLAUDE.md
  tests/cache/cache-stress.test.js
  tests/client/RequestManager.test.js
  tests/tools/media.test.js
  tests/tools/users/UserTools.test.js
Labels: none

fix(ci): resolve pre-push memory crashes with memory-safe test runner
  .husky/pre-push
  CORRECTED-FINAL-REPORT.md
  DXT-ANALYSIS.md
  DXT-FIX-SUMMARY.md
  DXT-MULTISITE-GUIDE.md
  FINAL-FIX-REPORT.md
  LOG-ANALYSIS.md
  MEMORY_FIX_REPORT.md
  PRODUCTION.md
  VSCODE-SETUP-REPORT.md
  VSCODE-SETUP-SUMMARY.md
  ci-pipeline-health-report.md
  package.json
  scripts/run-tests-safe.cjs
  scripts/test-pre-push.sh
  vitest.memory-safe.config.ts
Labels: config

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  8011e8ca99cee835a73bc113771e793a7728caf9
Labels: none

🔒 Update security badges - 0/0 tests passing, 8 vulnerabilities
  README.md
Labels: none

docs(security): comprehensive security audit and risk assessment
  .auditignore
  SECURITY_AUDIT_REPORT.md
  package-lock.json
  package.json
Labels: config

fix(ci): modernize CI/CD pipeline and resolve GitHub badges
  .github/workflows/ci-legacy.yml.backup
  .github/workflows/ci-optimized.yml
  .github/workflows/docker-publish-fix.yml
  .github/workflows/docker-publish.yml
  .github/workflows/main-ci.yml
  .github/workflows/test-coverage-badges-v2.yml
  .github/workflows/test-coverage-badges.yml
  .github/workflows/vitest-ci.yml
  CI_FIX_REPORT.md
  README.md
  package.json
  scripts/update-badges.js
  vitest.config.ts
Labels: config, ci

chore(release): 2.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  d967f84c0231dbc5164116fde855eaa8da93e891
Labels: none

chore(cleanup): clean TODO list and remove temporary files
  .github/workflows/ci-legacy.yml.backup
  TODO.md
  ci-health-report.md
  ci-pipeline-health-report.md
  package.json.backup
  update-report-minor.md
  update-report-patch.md
  updates-minor.json
  updates-patch.json
Labels: config, ci

fix(security): resolve vite vulnerability and update dependencies
  package-lock.json
Labels: config

docs(todo): update TODO list with completed security fixes
  TODO.md
Labels: none

chore(release): 2.11.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  341eae01196f58dfc159904292ad6f9b304177dd
Labels: none

fix(docker): enable Docker publishing on release events
  .github/workflows/docker-modern.yml
Labels: config, ci

chore(release): 2.11.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  b4405cdc102d9c11b769e5a2e92455683493e12b
Labels: none

docs: fix duplicate CI/CD pipeline badges in README
  README.md
Labels: none
